---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import json from '../data/data.json'

const projects = Object.entries(json).map(([id, data]) => ({ id, ...data }))
---

<Layout title="Keyan Namaghi">
  <main>
    <div class="mx-auto px-16 pt-16 mb-16 text-white">
      <div>
        <div class="flex gap-1 mb-12 items-end">
          <h1 transition:name="header" class="uppercase tracking-wider text-orange-500 text-2xl font-bold">Portfolio</h1>
          <a href="https://www.keyan.dev/me" transition:name="sub-header" class="text-sm tracking-wider underline underline-offset-4">keyan namaghi</a>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-5 gap-8">
          {projects.map(({ id, name, caption }) => <Card title={name} body={caption} name={id} />)}
        </div>
      </div>
    </div>
  </main>
</Layout>
